---
import BaseLayout from '../layouts/BaseLayout.astro'
import Menu from '../layouts/menu.astro'
---

<BaseLayout>
<Menu></Menu>
<section class="container">    
    <h1>Yolijn van der Kolk</h1>
    <h2>2023-11-24</h2>
    <img src="image/NL-Design-System.jpg" alt="">
    <p>Deze we love web ging over het design system van NL Design systems</p>
</section>
</BaseLayout>

<style>

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
  font-family: var(--header);
  font-weight: var(--medium);
  font-size: 70px;
  margin-top: 20px;
  color: var(--on-primary);
}

h2 {
    font-family: var(--header);
    font-weight: var(--regular);
    color: var(--on-primary);
}

img {
    width: 35%;
}

p {
    font-family: var(--body-text);
    font-weight: var(--regular);
    font-size: var(--p);
    color: var(--on-primary);
}


</style>
