---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
<nav>
    <a href="src/pages/index.astro">Home</a>
</nav>
</BaseLayout>

<style>
    a {
        font-family: var(--header);
        color: var(--primary);
        font-size: var(--p);
        display: inline-block;
        padding: 30px;
        width: auto;
        height: auto;
    }
</style>